<app-navigation (clicked)="reloadPage($event)"></app-navigation>
<section class="content">
  <div class="container">
    <app-breadcrumb [cateId]="categoryId" [cateName]="categoryName" [subCateName]="subCategoryName" (clicked)="reloadPage($event)"></app-breadcrumb>
    <div class="wrapper-list-ads">
      <div class="filter">
        <div class="container">
          <div class="row">
            <div class="col-md-12">
              <div class="filter-title" *ngIf="keyWord"><strong>{{countResults}}</strong> kết quả tìm kiếm cho "<strong>{{keyWord}}</strong>"</div>
              <div class="sort-by">
                <select name="" id="" class="custom-select">
                  <option value="1">Sắp xếp</option>
                  <option value="2">Ngày đăng gần nhất</option>
                  <option value="3">Giá tăng dần</option>
                  <option value="4">Giá giảm dần</option>
                </select>
              </div>
              <div class="view" >
                <i class="icon-grid icon-view" [ngClass]="{'active' : !isShowingList}" (click)="switchStyleShowing('grid')"></i>
                <i class="icon-list icon-view" [ngClass]="{'active' : isShowingList}" (click)="switchStyleShowing('list')"></i>
              </div>
            </div>
           </div>
        </div>
      </div>
      <div class="list-ads">
        <div class="wrapper-list-details" *ngIf="isShowingList" >

          <div class="list-details" *ngFor="let item of listAds">
            <img *ngIf="item.imagesLink && item.imagesLink.length>0" [src]="item.imagesLink[0]" alt="" />
            <div class="details">
              <div class="title">
                  {{item.title}}
              </div>
              <div class="rating">
                <i class="icon-star"></i>
                <i class="icon-star"></i>
                <i class="icon-star"></i>
                <i class="icon-star"></i>
                <i class="icon-star"></i>
              </div>
              <div class="price">
                  {{item.priceString}}
              </div>
              <div class="location">Tại: <span>{{item.areaName}}, {{item.regionName}}</span></div>
              <div class="phone">
                  <span>Liên hệ ngay với SĐT: </span>
                  <span class="phone-number">{{item.phone}}</span>
                </div>
            </div>
            <a class="btn btn-outline-info btn-view-details" [routerLink]="['/ads-details']" [queryParams]="{'id': item.adId}">Xem Chi Tiết</a>
          </div>

        </div>
        <div class="wrapper-list-article" *ngIf="!isShowingList">

          <div class="list-article" *ngFor="let item of listAds">
              <a [routerLink]="['/ads-details']" [queryParams]="{'id': item.adId}">
                <img *ngIf="item.imagesLink && item.imagesLink.length>0" [src]="item.imagesLink[0]" alt="" />
              </a>
            <div class="ads-description">
              <div class="title">
                  <a [routerLink]="['/ads-details']" [queryParams]="{'id': item.adId}">
                  {{item.title}}
                  </a>
              </div>
              <div class="type">
                {{item.categoryName}}
              </div>
              <!-- <div class="sub-type">
                {{item.subCategoryName}}
              </div> -->
              <div class="money">
                {{item.priceString}}
              </div>
              <div class="phone">
                <span>SĐT: </span>
                <span class="phone-number">{{item.phone}}</span>
              </div>
              <a class="btn btn-outline-info btn-sm btn-details" [routerLink]="['/ads-details']" [queryParams]="{'id': item.adId}">Chi Tiết</a>
            </div>
          </div>

        </div>
        <nav aria-label="..." *ngIf="listAds && listAds.length > 0">
          <ul class="pagination">
            <li class="page-item disabled">
              <a class="page-link" href="#" tabindex="-1">Trước</a>
            </li>
            <li class="page-item"><a class="page-link" href="#">1</a></li>
            <li class="page-item active">
              <a class="page-link" href="#">2 <span class="sr-only">(current)</span></a>
            </li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>
            <li class="page-item">
              <a class="page-link" href="#">Kế tiếp</a>
            </li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
</section>
