<section class="footer">
  <div class="container">
    <div class="row">
      <div class="col-md-4 col-sm-4 col-12">
        <div class="footer-title">
          Thông tin về <span class="website-name">PADS</span>
        </div>
        <div class="footer-index">
          <ul class="list">
            <li><a href="#">Giới thiệu</a></li>
            <li><a href="#">Tuyển dụng</a></li>
            <li><a href="#">Truyền thông</a></li>
            <li><a href="#">Blog</a></li>
          </ul>
        </div>
      </div>
      <div class="col-md-4 col-sm-4 col-12">
        <div class="footer-title">
          Hỗ trợ khách hàng
        </div>
        <div class="footer-index">
          <ul class="list">
            <li><a href="#">Trung tâm trợ giúp</a></li>
            <li><a href="#">An toàn mua bán</a></li>
            <li><a href="#">Quy định cần biết</a></li>
            <li><a href="#">Liên hệ hỗ trợ</a></li>
          </ul>
        </div>
      </div>
      <div class="col-md-4 col-sm-4 col-12">
        <div class="footer-title">
          Phiên bản Mobile
        </div>
        <div class="footer-index">
          <ul class="list">
            <li><a href="#"><img src="assets/images/ios-app.png" alt="ios"></a></li>
            <li><a href="#"><img src="assets/images/android-app.png" alt="android"></a></li>
          </ul>
        </div>
      </div>
    </div>
    <hr />
    <div class="copy-right">
      <div class="item-left">
        @Copy right 2018. Thesis of Tran Chi Nam & Nguyen Thi Nhu Huynh
      </div>
      <div class="item-right">
        <span>Follow us </span>
        <i class="icon-facebook"></i>
        <i class="icon-twitter"></i>
        <i class="icon-linkedin2"></i>
        <i class="icon-google-plus"></i>
        <i class="icon-github"></i>
      </div>
    </div>
  </div>
</section>
